<!DOCTYPE html>
<html>
<head>
  <title>404 Not Found</title>
  <link href="/css/error.css" rel="stylesheet">

</head>
<body>

  <div class="my-error">
    YOU HAVE FOUND THIS IN ERROR <br>
    404 <br>
    <span>(or some other problem)</span> <br>
    <a href="/">GO HOME </a>
  </div>

</body>
</html>